<ng-container *loading="articleLoading | async">
    <article id="article-container" class="prose" *ngIf="article">
        <header class="text-white w-full flex flex-col items-center">
            <h1 class="text-white my-3 text-center">{{ article.title }}</h1>
            <time
                [dateTime]="article.publishedAt"
                class="flex flex-row flex-wrap gap-x-1"
            >
                Published at
                <p class="font-light m-0">
                    {{ article.publishedAt | date: "LLLL d, HH:mm, yyyy" }},
                </p>
                <address class="not-italic">
                    by
                    <a
                        rel="author"
                        class="text-white not-italic no-underline font-light"
                        >{{ article.user.username }}</a
                    >
                </address>
            </time>
            <hr
                class="w-full bg-[#292929] border-0 mt-8 m-0 h-[0.175rem] rounded-full"
            />
        </header>
        <img
            *ngIf="article.cover?.data?.attributes?.url"
            [src]="article.cover?.data?.attributes?.url"
            [alt]="article.cover?.data?.attributes?.alternativeText"
        />
        <markdown
            class="text-[hsl(0,0%,95%)] prose-headings:text-[hsl(0,0%,95%)] prose-strong:text-[hsl(0,0%,95%)] w-full"
            [data]="article.body"
        ></markdown>
    </article>
</ng-container>
