<div class="flex flex-col items-center justify-center">
    <div class="triangle"></div>
    <div
        class="flex flex-col prose prose-h2:m-0 prose-h2:mb-1 max-w-[32ch] rounded-2xl h-max bg-[#0E402D] p-4 text-center text-zinc-200"
    >
        <h2 class="text-zinc-200">There's nothing here...</h2>
        <p class="text-sm font-light">
            Seems like the page you're looking for doesn't exist.
            <br />
            Get back to the
            <a class="text-white" routerLink="/">Homepage</a> and try again.
        </p>
    </div>
</div>
