@tailwind base;
@tailwind components;
@tailwind utilities;

// Quill styling
.ql-toolbar.ql-snow,
.ql-snow .ql-picker-options {
    background-color: #303030;
    color: #bbb;
}

.ql-picker-label {
    color: #bbb;
}

.ql-snow .ql-stroke,
.ql-fill {
    stroke: #bbb;
}

.ql-container.ql-snow {
    position: static;
}

.ql-editor.ql-blank::before {
    display: none;
}

.ql-editor {
    background-color: #242424;
}

// Global element styling
pre {
    border-radius: 0.5rem;
}

:root {
    --bg: #121212;
    @apply font-serif;
}

html {
    scrollbar-width: auto;
    scrollbar-color: #5fe5ae #212121;
}

html,
body {
    min-height: 100vh;
}

body {
    background-color: var(--bg);
    background-image: url("/assets/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
